[Desktop Entry]
Type=Application
Name=Miniter
GenericName=Video Editor
Comment=Non-linear KMP + rust video editor
Keywords=video;editor;multimedia;
Exec=miniter %U
Icon=io.github.mlm_games.miniter
Terminal=false
Categories=AudioVideo;Video;Recorder;
MimeType=video/mp4;video/x-matroska;video/webm;video/quicktime;
StartupNotify=true
StartupWMClass=Miniter
